
#l1{
color:#FF0000;
font-size:70px;
}
#l2{
color:#FF5920;
font-size:70px;
}
#l3{
color:#FF8232;
font-size:70px;
}
#l4{
color:#FF6464;
font-size:70px;
}
#l5{
color:#FFE14B;
font-size:70px;
}
#l6{
color:#FFEAB0;
font-size:70px;
}
#l7{
color:#03FF1C;
font-size:70px;
}
#l8{
color:#1403FF;
font-size:70px;
}
#l9{
color:#FF00FF;
font-size:70px;
}




